# java specific
*.class

# Package File
*.jar
!lib/*
*.war
*.ear

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# idea conf files
# .idea
# *.iml
*.ipr
*.iws
common/.idea/workspace.xml
common/.idea/misc.xml
common/.idea/libraries
common/.idea/*datasources.*
common/.idea/encodings.xml
common/.idea/dictionaries/*

# building
target
build
null
tmp
temp
dist
test-output
build.log
.externalToolBuilders
release.properties
pom.xml.releaseBackup

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
