# java specific
*.class

# Package File
*.jar
!lib/*
*.war
*.ear

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# idea conf files
# .idea
*.iml
*.ipr
*.iws
**/.idea/workspace.xml
**/.idea/misc.xml
**/.idea/libraries
**/.idea/*datasources.*
**/.idea/encodings.xml
**/.idea/dictionaries/*

# building
target
build
null
tmp
temp
dist
test-output
build.log
.externalToolBuilders
release.properties
pom.xml.releaseBackup

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
.java-version
/bin/
